<!DOCTYPE html>
<html>
	<head>

	<meta charset="utf-8">
	<title>Stratton Oakmont Inc.</title>

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="main.css">


	<link rel="icon" type="image/png" href="images/favicon.png">

	<style>
	body {
	    background-image: url("http://i.imgur.com/aEKNHOJ.jpg");
	} 
	</style>

	</head>

	<body>

	<div class="wrap">
    <div class="fleft"></div>
    <div class="fright">
			<img src="http://s3.amazonaws.com/FratMusic-Site-Images/assets/cover/stratton.png">
			<strong style="font-size:15px; color:white"> We are a trustworthy and experienced set of business/engineering individuals interested in making absolutely legal and morally strong business decisions to honourable business men and women working in the stockexchange market of the 80s.
			We are Paul Scherer, Chris Swart, David Schott and Nial Atkin (in no particular order). </strong>
			<br>
			<br>
			<h3 align="center" style="font-size:40px; color:white">Try sending us an SMS with either 'CTDEM10Y' or 'PX LAST' on: +44 166 991 2029 </h3>
    </div>
	</div>


	</body>

</html>