<!DOCTYPE html>
<html>
	<head>

	<meta charset="utf-8">
	<title>Stratton Oakmont Inc.</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">

	<link rel="icon" type="image/png" href="images/favicon.png">

	<style>
	body {
	    background-image: url("http://i.imgur.com/aEKNHOJ.jpg");
	} 
	</style>

	</head>

	<body>

		<div style="width: 100%;">
		   <div style="float:left; width: 80%">
		   </div>
		   <div style="float:right;">
				<h1 style="color: #ECF8E0; text-align:center">Stratton Oakmont Inc.</h1>
				<div style="width:82.5%; height:82.5%;">
				<div style="float:right; width:54%;margin-top:1%">
				<img src="http://s3.amazonaws.com/FratMusic-Site-Images/assets/cover/stratton.png">
				</div>
				</div>
				<div class="container" style="margin-top:25%">
				<strong style="font-size: 15px" color = "white"> We are a trustworthy and experienced set of business/engineering individuals interested in making absolutely legal and morally strong business decisions to honourable business men and women working in the stockexchange market of the 80s.
				We are Paul Scherer, Chris Swart, David Schott and Nial Atkin (in no particular order). </strong>
				</div>
				<br>
				<br>
				
				<h3 align="center" color = "white">Try sending us an SMS with either 'CTDEM10Y' or 'PX LAST' on: +44 166 991 2029 </h3>
		   </div>
		</div>
		<div style="clear:both"></div>

	</body>

</html>