.wrap {
width: 100%;
overflow:auo;
}

.fleft {
    float:left; 
    width: 50%;
    height: 100%;
    position: relative;
}

.fright {
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
}